<div class="main">
  <div class="container">
    <div class="form-title">
      <h1>ぼやく</h1>
    </div>
    <div class="form">
      <div class="form-body clearfix">

          <% @post.errors.full_messages.each do |message| %>
            <div class="error-message">
              <%= message %>
            </div>
          <% end %>

          <%= form_tag("/tweets/create", {multipart: true}) do %>
            <textarea name="content"><%= @post.content %></textarea>
            <input type="file" name="image">
            <input type="submit" value="投稿">
          <% end %>

      </div>
    </div>
  </div>
</div>
